:root {
  --main-bg-color: #333333;
  --text-color: #F8F8FF;
  --accent-1: #7ED4E6;
  --accent-2: #F56960;
  --accent-3: #841C26;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  margin: 0 20vw;
  padding-top: 5rem;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.0em;
  margin-top: 10vh;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.3em;
  margin-bottom: 2em;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 1.5em;
}

/* Nav Bar Styles */

header {
  background: linear-gradient(180deg, var(--main-bg-color) 4rem, rgba(14, 18, 18, 0));
  opacity: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem 5rem;
  top: 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.site-logo {
  background-color: var(--accent-3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
}

.nav-link {
  margin: 0 1em;
}

.nav-link > a {
  text-decoration: none;
  color: var(--text-color);
}

/* Project Section Styles */

#project-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
}

#project-grid > article {
  background-color: var(--accent-2);
  height: 20vh;
}

/* About Section Styles */

#skills-grid, #experience-grid, #hobbies-grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}

#skills-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#experience-grid {
  grid-template-columns: repeat(4, 1fr);
}

#hobbies-grid {
  grid-template-columns: repeat(4, 1fr);
}

#skills-grid > li, #hobbies-grid > li , .experience-item > p {
  font-size: 1rem;
}

.experience-item > p {
  margin: 0 0 0.5rem;
}

.hobby-emoji {
  font-size: 2rem;
  margin-left: 0.5rem;
}

/* Footer Styles */

footer {
  margin: 7.5vh 20vw 10vh;
}

footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

footer > ul > li {
  margin-right: 3vw;
}

footer > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}